[run]
branch = True
relative_files = true
# avoid to report non-own files
source = src
omit =
    # avoid to report files from Cleanpython
    src/git_status.py
    src/test_git_status.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma:
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
