# base libraries without versions, useful for updating

# linting
autopep8
flake8
isort
mypy
pylint

# testing
coverage
pylint-pytest
pytest
pytest-cov
responses
types-requests

# documentation
Sphinx
myst-parser
sphinx-sizzle-theme
