# base libraries without versions, useful for updating
requests
tabulate

# linting
black
flake8
isort
mypy
pylint

# testing
coverage
pylint-pytest
pytest
pytest-cov
responses
types-requests
types-tabulate

# documentation
Sphinx
myst-parser
sphinx-sizzle-theme
